<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Consultas - MedPlus</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>


 <header>
        
            <div class="topico">
                <img src="images/logoespee.png" height="40%" width="300px" button id="botlogo" onclick="voltar()">
                
        
<a href="/"><button class="botop">Home</button></a>
<a href="/exames.html"><button class="botop">Exames</button></a>
<a href="/"><button class="botop">Unidades</button></a>
<a href="/cirurgia.html"><button class="botop">Cirurgias</button></a>
<a href="/planos.html"><button class="botop">Planos</button></a>
<img src="images/iconelogin.png" height="80px" width="80px" id="foto2" button id="botlogi" onclick="login()">
</div>
</header>

<br>
<br>
<br>

<style>
/* Add these styles to your existing CSS file */
.consultation-table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
  }
  
  .consultation-table th, .consultation-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
  }
  
  .consultation-table th {
	background-color: #2079b0;
	color: white;
  }
  
  /* Adicione essas regras ao seu arquivo CSS existente */
.consultation-table {
	width: 80%;
	margin: 20px auto;
	border-collapse: separate; /* Adiciona espaçamento entre células e linhas */
	border-spacing: 10px; /* Define o espaçamento desejado */
	margin-right: 210px;
  }
  
  .consultation-table th,
  .consultation-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
  }
  
  .consultation-table th {
	background-color: #2079b0;
	color: white;
	
  }
  
  
/* Header */

   #botlogo{
      margin-right: 12%;
      margin-top: 20px;

    }

      .botop{
        background-color: #93D1FF;
        border-radius: 40px;
        border-color: #ffffff;
        height: 50px;
        width: 170px;
        font-family: Mate SC;
        font-size: 18px;
        margin-bottom: 10%;
        margin-top: 10px; 
    }
    
    .linha{
     margin-left: 690px;
     margin-top: 100px;
    }
    
   
    .botop:hover{
      background-color: #93D1FF;
      box-shadow: 5px 2px #4b93ca;
      transform: scale(1.1);
      transition: all 0.5s;
  }
  
  #foto2 {
	margin-left: 18%;
}

  #foto2:hover{
    
      transform: scale(1.1);
      transition: all 0.5s;
  }



.foto {
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.topico {
	padding: 0px;
	margin-bottom: 0px;
        display: flex;
        align-items: center;
}


   .logincerto{
    align-content: center;
   }
   
 
    .botao{
        width: 600px;
        justify-content: space-between;
        padding: 15px;
        padding-left: 10px;
        align-items: center;

    }
    header{
  position: fixed;
  top:0;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
    height: 10%;
    
}
/* Fim Header */

 /* Subtela */
#subTela {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 30px;
	width: 600px;
	max-width: 90%;
	border-radius: 8px;
	box-shadow: 0 2px 6px #2079b0(0, 0, 0, 0.3);
	text-align: center;
	/*background-color: #7BC8FF;*/
	border: 1px solid black;
	justify-content: center;
        align-items: center;
}
  #logos {
              width: 450px;
              height: 180px;
              margin-left: 20px;
           }
           
           label{
           font-size: 19px;
           }
           
           
           input{
           width: 500px;
           }
           
           #radio{
           width: 20px;
           }
           
           button{
           width: 200px;
           height: 50px;
           background-color: rgba(123.25000405311584, 199.6649980545044, 255, 1);
           border-radius: 10px;
           }
           
           button:hover{
           background-color: #93D1FF;
      box-shadow: 5px 2px #4b93ca;
      transform: scale(1.1);
      transition: all 0.5s;
           }
           
           select{
           width: 500px;
           }
           
           #confirmarConsultaBtn{
           margin-top: 80px;
           margin-left: 800px;
           border-radius: 8px;
           background-color: #2079b0;
           color: white;
           width: 300px;
           
           }
/* Fim Subtela */


  
</style>
<body>
   <button type="button" class="b1" id="confirmarConsultaBtn">Marcar Consulta</button>

    <table class="consultation-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Área</th>
                <th>Andar</th>
                <th>Sala</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DR. Ricardo Emanuel Lombardi</td>
                 <td>Radiologista</td>
                 <td>2 Andar</td>   
                  <td>Sala 10</td>
            </tr>
            <tr>
                <td>DR. Antônio Fagundes Da Conceição</td>
                 <td>Dermatologista</td>
                 <td>1 Andar</td> 
                  <td>Sala 13</td>
                <tr>
                <td>DR. Fábio Henrique Novaes</td>
                 <td>Urologista</td>
                 <td>1 Andar</td>   
                  <td>Sala 2</td>
            </tr>

<tr>
                <td>DR. Gilberto Oliveira Fares Da Silva</td>
                 <td>Ginecologista</td>
                 <td>1 Andar</td>   
                  <td> Sala 8</td>
            </tr>
<tr>
                <td>DR. Lucas Eduardo Rosa</td>
                 <td>Anestesiologista</td>
                 <td>2 Andar</td>   
                  <td>Sala 5</td>
            </tr>
<tr>
                <td>DR. Roberto Oliveira Mantoan</td>
                 <td>Neurologista</td>
                 <td>2 Andar</td>   
                  <td>Sala 18</td>
            </tr>
<tr>
                <td>DRa. Edna Carvalho dos Santos</td>
                 <td>Pedriatria</td>
                 <td>1 Andar</td>   
                  <td>Sala 17</td>
            </tr>
<tr>
                <td>DRa. Laura Maria Cardoso</td>
                 <td>Oncologia</td>
                 <td>2 Andar</td>   
                  <td>Sala 17</td>
            </tr>
<tr>
                <td>DR. Raul Marino Júnior</td>
                 <td>Cirurgião Plastico</td>
                 <td>2 Andar</td>   
                  <td>Sala 3</td>
            </tr>
<tr>
                <td>DRa. Milena Gonçalves Basso</td>
                 <td>Psiquiatria</td>
                 <td>2 Andar</td>   
                  <td>Sala 10</td>
            </tr>

<tr>
                <td>DR. José Osmar Medina de Abreu Pestana</td>
                 <td>Dermatologista</td>
                 <td>1 Andar</td>   
                  <td>Sala 4</td>
            </tr>

<tr>
                <td>DRa. Adriana de Oliveira Melo</td>
                 <td>Nutricionista</td>
                 <td>2 Andar</td>   
                  <td>Sala 8</td>
            </tr>
<tr>
                <td>DR. Veríssimo Gomes</td>
                 <td>Cirurgião Geral</td>
                 <td>2 Andar</td>   
                  <td>Sala 20</td>
            </tr>
<tr>
                <td>DR. Oswaldo Cruz</td>
                 <td>Fisioterapia</td>
                 <td>1 Andar</td>   
                  <td>Sala 6</td>
            </tr>
      


    <form method="POST" action="/marcarConsulta">
    <div id="subTela" style="display: none;">
     <img src="images/logo_removebg_preview_1.png" alt="" id="logos">
     <br>
        <label for="nomepaciente">Insira seu nome completo:</label>
<br>
        <input type="text" id="nomepaciente" name="nomepaciente">
<br>
<br>
        <label for="dataconsulta">Data:</label>
<br>
        <input type="date" id="dataconsulta" name="dataconsulta"> 
<br>
<br>
        <label for="hora">Digite o horário:</label>
        <input type="time" id="hora" name="hora" placeholder="Selecione o Horário">
<br>
<br>
        <label for="motivo">Insira o motivo:</label>
        <input type="text" id="motivo" name="motivo" placeholder="Motivo">
<br>
<br>
        <label for="medicos">Escolha uma opção de médico:</label>
        <br>
        <select id="medicos" name="nomemedico">
       <option value="Adriana de OLiveira Melo">Adriana de OLiveira Melo</option>
    <option value="Antônio Fagundes Da Conceição">Antônio Fagundes Da Conceição</option>
    <option value="Edna Carvalho dos Santos">Edna Carvalho dos Santos</option>
    <option value="Fábio Henrique Novaes">Fábio Henrique Novaes</option>
    <option value="Francisco Almeida Boulevar">Francisco Almeida Boulevar</option>
    <option value="Gilberto Oliveira Fares Da Silva">Gilberto Oliveira Fares Da Silva</option>
    <option value="José Osmar Medina de Abreu Pestana">José Osmar Medina de Abreu Pestana</option>
    <option value="Laura Maria Cardoso">Laura Maria Cardoso</option>
    <option value="Lucas Eduardo Rosa">Lucas Eduardo Rosa</option>
    <option value="Milena Gonçalves Basso">Milena Gonçalves Basso</option>
    <option value="Olávio Augusto Mendes">Olávio Augusto Mendes</option>
    <option value="Oswaldo Cruz">Oswaldo Cruz</option>
    <option value="Raul Marino Júnior">Raul Marino Júnior</option>
    <option value="Roberto Oliveira Mantoan">Roberto Oliveira Mantoan</option>
    <option value="Veríssimo Gomes">Veríssimo Gomes</option>
</select>

<br>
       <h4>Deseja marcar consulta?</h4>
        <label for="sim">Sim</label>
        <input id="radio" type="radio" id="sim" name="resposta" value="sim">
        <label for="nao">Não</label>
        <input id="radio" type="radio" id="nao" name="resposta" value="nao">
<br>
<br>
<br>
        <button type="submit" value="Confirmar">Confirmar</button>
        
            <button type="button" id="voltarBtn">Voltar</button>
        </div>
    </form>




     <script>
        // Adiciona o ouvinte de evento para abrir a subTela
        document.getElementById("confirmarConsultaBtn").addEventListener("click", function () {
            abrirSubTela();
        });
        // Adiciona o ouvinte de evento para fechar a subTela
        document.getElementById("voltarBtn").addEventListener("click", function () {
            fecharSubTela();
        });
        function abrirSubTela() {
            document.getElementById("subTela").style.display = "block";
        }
        function fecharSubTela() {
            document.getElementById("subTela").style.display = "none";
        }
        
        

        function verificarResposta() {
            var resposta = document.querySelector('input[name="resposta"]:checked');

            if (resposta) {
                if (resposta.value === "sim") {
                    alert("Consulta confirmada!");
                    fecharSubTela();
                } else if (resposta.value === "nao") {
                    alert("Consulta não confirmada.");
                    fecharSubTela();
                }
            } else {
                alert("Por favor, selecione 'Sim' ou 'Não'.");
            }
        }
        
        function voltar(){event.preventDefault();
    window.location.href="/";

  }


  function login(){event.preventDefault();
    window.location.href="/login";

  }
    </script>
    
          
</body>
<style>
</style>

</html>
